JWT_SECRET_KEY=
# leave empty if running project on localhost
DOMAIN=.example.com

S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT_URL=
S3_REGION_NAME=

POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=

POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=